<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>

    <!-- Configuración de conexión a la base de datos -->
    <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/carbono?useSSL=false&amp;serverTimezone=UTC</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password"></property>
    <!-- Dialecto de Hibernate para MySQL -->
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <!-- Configuración de Hibernate -->
    <property name="hibernate.show_sql">false</property> <!-- Muestra las consultas SQL en la consola -->
    <property name="hibernate.format_sql">true</property> <!-- Formatea las consultas SQL -->
    <property name="hibernate.hbm2ddl.auto">update</property> <!-- Crea o actualiza tablas automáticamente -->

    <mapping class="github.alfonsojaen.entities.Actividad" />
    <mapping class="github.alfonsojaen.entities.Categoria" />
    <mapping class="github.alfonsojaen.entities.Habito" />
    <mapping class="github.alfonsojaen.entities.HabitoId" />
    <mapping class="github.alfonsojaen.entities.Huella" />
    <mapping class="github.alfonsojaen.entities.Recomendacion" />
    <mapping class="github.alfonsojaen.entities.Usuario" />

  </session-factory>
</hibernate-configuration>